.footer-container {
    width: 100%;
    background-color: rgba(0,0,0,0.05);
    margin-top: 20px;
    padding: 30px;
}

.footer-heading {
    font-size: 14px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    position: relative;
    margin-bottom: 30px;
}

.footer-heading span.label{
	position: absolute;
    top: 50%;
    background: rgb(242, 242, 242);
    transform: translateY(-50%);
    padding-right: 10px;
    font-weight: 700;
}

.footer-searches-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    margin-bottom: 40px;
}

.footer-searches-container .search-keyword {
    color: rgba(0,0,0,0.6);
}

.footer-searches-container .search-keyword::after {
    content: "|";
    margin: 0 8px;
}

.footer-copyright-container {
    display: flex;
    justify-content: space-between;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
}

.footer-copyright-container a {
	text-decoration:  none;
	font-weight: 700;
}